name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  check_dependencies:
    uses: access-nri/pyISSM/.github/workflows/check-dependencies.yml@lb/231225_workflows