name: Build and deploy docs

on:
  push:
    branches:
      - main
  workflow_dispatch:

# Define jobs
jobs:
  build-docs:
    runs-on: ubuntu-latest

    steps:
        # Step 1: Checkout the repository
      - uses: actions/checkout@v3

        # Step 2: Set up Python
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

        # Step 3: Install dependencies and build docs
      - name: Install dependencies
        run: |
          pip install sphinx sphinx-rtd-theme sphinx-autodoc-typehints sphinx-apidoc
       
        # Step 4: Generate .rst files from docstrings 
      - name: Generate .rst files
        run: sphinx-apidoc -o docs/source/ src/pyissm/
        
        # Step 5: Build the HTML documentation
      - name: Build HTML
        run: |
          cd docs
          make html

        # Step 6: Deploy to GitHub Pages
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v6
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/build/html