name: Run ISSM-pyISSM Tests

# Trigger tests when called
on:
  workflow_call:
    inputs:
      build-type:
        description: 'Type of ISSM build to restore from the cache'
        required: true
        type: string
      test-args:
        description: 'Arguments to pass to run-tests.py'
        required: false
        type: string

# Set ISSM_DIR environment variable
env:
  ISSM_DIR: ${{ github.workspace }}/issm

jobs:
  test:
    name: Run ISSM-pyISSM Tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        # Run tests for multiple versions of python
        python-version: ["3.9", "3.10", "3.11", "3.12"]

    steps:
      # Checkout the pyISSM repo
      - name: Checkout pyISSM
        uses: actions/checkout@v3

      # Identify the latest release name/tag from the access-nri/issm repo and save as "ISSM_RELEASE" environment variable
      - name: Get latest ISSM release tag
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          LATEST=$(gh release view --repo access-nri/issm --json tagName -q .tagName)
          echo "ISSM_RELEASE=$LATEST" >> $GITHUB_ENV
          echo "Using release: $LATEST"

      # Checkout the latest release of ISSM from access-nri/issm (use ISSM_RELEASE from above) into /issm directory.
      # This is needed to access archive files for testing
      - name: Checkout ISSM latest release
        uses: actions/checkout@v3
        with:
          repository: access-nri/issm
          ref: ${{ env.ISSM_RELEASE }}
          path: issm

      # Set up python (for given version[s])
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      # Install all python dependencies (excluding pyISSM)
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel
          python -m pip install numpy scipy netcdf4 matplotlib

      # Install pyISSM as 'editable' to ensure it's installed from source (not pypi)
      - name: Install pyISSM
        run: |
          pip install --upgrade --force-reinstall --editable .

      # Load from existing corredponding cache)
      # NOTE: Caches are ISSM release and python version specific
      - name: Restore ISSM Cache
        uses: actions/cache@v3
        with:
          path: ${{ env.ISSM_DIR }}
          key: ${{ inputs.build-type }}-${{ env.ISSM_RELEASE }}-python${{ matrix.python-version }}-${{ runner.os }}
      
      # Check that wrappers were installed correctly
      - name: Check wrappers
        run: |
          python3 -c "import pyissm; print('Wrappers installed:', pyissm.tools.wrappers.check_wrappers_installed())"
      
      # Run CI tests
      - name: Run tests
        run: |
          source $ISSM_DIR/etc/environment.sh
          cd ./test/ci_tests/
          python3 -u ./run-tests.py ${{ inputs.test-args }}